<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808726087380-naadi0bvj4tsg7c4291jup077ug61ns7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808726087380-naadi0bvj4tsg7c4291jup077ug61ns7</string>
	<key>API_KEY</key>
	<string>AIzaSyBiRxWNsmS-cTdSn13UqvWBFQD21XyaoxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>808726087380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GGame.EcoNews</string>
	<key>PROJECT_ID</key>
	<string>ecologyproject-ea0a3</string>
	<key>STORAGE_BUCKET</key>
	<string>ecologyproject-ea0a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808726087380:ios:691309d13789c7bc789d41</string>
</dict>
</plist>